[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-caching = "*"
python-dotenv = "*"
flask-login = "*"
flask-bcrypt = "*"

[dev-packages]
pytest-cov = "*"
pytest = "*"
doc8 = "*"
autopep8 = "*"
flake8 = "*"
isort = "*"
black = "*"
pytest-flask = "*"
pytest-factoryboy = "*"
hypothesis = "*"
pre-commit = "*"
ipython = "*"
tox-pipenv = "*"
pytest-socket = "*"
mypy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
